* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px 25px;
    background-color: #9e00ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    font-family: "Century Gothic";
    color: #fff;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-left: 30px;
}

.nav-list li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 12px;
    color: #fff;
}

#hamburger-toggle {
    display: none;
}

.hamburger {
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 25px;
}

.hamburger .bar {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    position: relative;
    transition: all 0.3s;
}

.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.3s;
}

.hamburger .bar::before {
    transform: translateY(-10px);
}

.hamburger .bar::after {
    transform: translateY(-10px);
}

@media(max-width:600px) {
    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #9e00ff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .nav-list li a {
        display: inline-block;
        font-size: 20px;
        padding: 15px 20px;
        transition: all 0.3s;
    }

    .nav-list a:hover {
        background-color: #fff;
        color: #9e00ff;
        transform: translateY(-10);
    }

    .hamburger {
        display: flex;
        z-index: 999;
    }

    #hamburger-toggle:checked~.nav-list {
        transform: none;
    }

    #hamburger-toggle:checked~.hamburger .bar::before {
        transform: rotate(45deg);
    }

    #hamburger-toggle:checked~.hamburger .bar::before {
        background-color: transparent;
    }

    #hamburger-toggle:checked~.hamburger .bar::before {
        transform: rotate(-45deg);
    }
}